@model AddEmployeeView


<form method="post">
  <div class="mb-3">
    <label for="" class="form-label">First Name</label>
    <input type="text" class="form-control" asp-for="FirstName">
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Last Name</label>
    <input type="text" class="form-control" asp-for="LastName">
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Salary</label>
    <input type="number" step="any" class="form-control" asp-for="Salary">
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Department</label>
    <input type="text" class="form-control" asp-for="Department">
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Date of birth</label>
    <input type="date" class="form-control" asp-for="DateBirthday">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>